<div class="center">
	<article id="error">
		<h1><%= data.error.errorType %></h1>
		<h2><%= data.error.errorMessage %></h2>
		<a href="/">Go back</a>
	</article>
</div>
<%- contentFor("title") %>
<%= data.error.errorType %>

<%- contentFor("desc") %>
<%= data.error.errorMessage %>