<base href="/" target="_self">

<meta charset="UTF-8">
<meta name="description" content="Abhay's personal/portfolio website">
<meta name="author" content="Abhay">
<meta name="keywords" content="abhay, personal, portfolio, blog, programming, technology">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-TileColor" content="#22467a">
<meta name="theme-color" content="#142134">
<%- meta %>
<% if(data.hostname.toLowerCase() !== data.mainDomain.toLowerCase()) { %>
	<meta http-equiv="refresh" content="0; URL=<%=data.mainHref%>">
	<title>Redirecting to main site</title>
<% } else {%>
	<title><%= title %></title>
<% } %>

<link rel="canonical" href="<%=data.mainHref%>">

<% if(!data.removeStyle) { %>
	<link rel="stylesheet" href="/static/styles/style.css">
<% } %>
<%- style %>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="manifest" href="/manifest.webmanifest">

<script type="module" src="/static/scripts/script.js"></script>
<%- script %>